/*
    Selector {
        Property: value
    }
*/

/*
لو هانكتب خاصية واحدة بس للسيليكتور يبقا مش لازم نحط السمي كولن css في ال 
ولو هانكتب اكتر من خاصية يبقا لازم نحط السمي كولن بعد كل الخصائص اللي مش الاخيرة
*/
p {
    color: red;
    font-size: 60px
}

/*
وممكن السليكتور يكون كلاس عن طريق اني اضيف النقطة قبل اسم الكلاس 
واكتب كل الخصائص اللي عايزها تتطبق علي كل العانصر اللي واخدة نفس الكلاس
*/
.c-p1 {
    color: green
}

/*
id كاسليكتور عن طريق اني احط هاش # قبل ال id وممكن استخدم ال
في التنسيق id بس طبعا مش مستحب خالص استعمل ال
*/
#p3 {
    color: blue;
    font-size: 70px;
}