div {
    width: 400px;
    height: 400px;
    margin: 10px auto;
    color: #FFF;
    background-color: rgba(53, 53, 53, 20%);
    background-image: url(../images/css-assignment-5-8.png);
}

.assign-2-shape-1 {
    background-repeat: no-repeat;
}

.assign-2-shape-2 {
    background-repeat: repeat-y;
}

.assign-2-shape-3 {
    background-repeat: repeat-y;
}

.assign-2-shape-4 {
    background-repeat: repeat;
}