# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\The works\C Projects\simple text editor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
