div {
    width: 400px;
    height: 400px;
    color: white;
    background-color: rgba(15, 15, 15, 0.13);
    background-image: url(../images/css-assignment-5-8.png);
    margin: 10px auto;
}

.assign-4-shape-1 {
    background-size: 80%;
    background-repeat: no-repeat;
}

.assign-4-shape-2 {
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-position: right;
}

.assign-4-shape-3 {
    background-size: 100% 80%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.assign-4-shape-4 {
    background-size: 50%;
    background-position: bottom right;
    background-repeat: no-repeat;
}