# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\The works\CPP Projects\Test CPP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
