# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\The works\Python projects\sec_feack\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
